<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tulingxueyuan.mall.modules.pms.mapper.PmsProductAttributeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tulingxueyuan.mall.modules.pms.model.PmsProductAttribute">
        <id column="id" property="id" />
        <result column="product_attribute_category_id" property="productAttributeCategoryId" />
        <result column="name" property="name" />
        <result column="select_type" property="selectType" />
        <result column="input_type" property="inputType" />
        <result column="input_list" property="inputList" />
        <result column="sort" property="sort" />
        <result column="filter_type" property="filterType" />
        <result column="search_type" property="searchType" />
        <result column="related_status" property="relatedStatus" />
        <result column="hand_add_status" property="handAddStatus" />
        <result column="type" property="type" />
    </resultMap>

</mapper>
